<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand" href="#">Vinícius Pavezi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
        <strong>Hello visitor!</strong> I hope you like my website.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container my-3">
        <h2 class="text-center my-3 py-3">About me at a glance</h2>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project }}</h5>
                        <p class="card-text">{{ project.description | linebreaks }}</p>
                        <a href="#" class="btn btn-primary">Take a peek</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>